	<!-- this is my index page  -->

<div class="span6 offset1 text-center stolen-surfbox">

	<!-- the above class puts it in the middle  -->

<h1 class="custom-font-1">Click here to scan your identity</h1>

<h2 class="custom-font-2">Do not move, or you may damage your eyes</h2>


<h3 class="custom-font-3">Hold very still.</h3>

<h3 class="custom-font-3">No, really.  Hold very still.</h3>

<br/>
<br/>

<%= link_to('Scan Now', pics_path, :class => 'btn btn-danger') %>

<!--<br/>
<br/>
<h5 class="custom-font">//error: NSA database scan - USA private profile.net</h5>
-->

</div>



