<div class="my-wrapper">
	<h1>My Pics</h1>

<% @pics.each do |pic| %>
	<div class="box stolen-surfbox span6 offset3">
	<h2>
		Hour <%= pic.hour %>
	</h2>
	<h3>
		I feel <%= pic.emotion %>
	</h3>

	<p> 
		I learned that <%= pic.learned %>
	</p>

	<div> 
<% end %>



