<div class="my-wrapper text-center">
	<h1 class="custom-font-1">My Pics</h1>

	<% @pics.each do |pic| %>
		<div class="span3 stolen-surfbox text-center">
			<h2 class="custom-font-1">
				Hour <%= pic.hour %>
			</h2>

			<h3 class="custom-font-2">
				I feel <%= pic.emotion %>
			</h3>

			<p class="custom-font-3">
				I learned that <%= pic.learned %>
			</p>
		</div>
	<% end %>
</div>




