body {
	background: url('Singapore.jpg')
	no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
	  color:white;
}

.stolen-surfbox {
	background-color: rgba(36, 32, 33, 0.5);
    box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
    padding: 1%;
    margin-top: 60px;
    }

.picture-page {
	background-color: rgba(36, 32, 33, 0.5);
	box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
	padding: 1%;
	margin-top: 40px;
 	}

.custom-font {
	color: white;
}

.custom-font-1 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 64px;
    font-weight: 100;
    line-height: 110%;
}

.box h1, .box p {color:white;}

.custom-font-2 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 28px;
    font-weight: 200;
}

.my-wrapper h1,
.my-wrapper h2,
.my-wrapper h3,
.my-wrapper p {color:white;}

.my-wrapper label {
	color:white;
	font-size: 28px;
	padding-bottom: 15px;
}


.box h2, .box p {color:white;}

.custom-font-3 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 18px;
    font-weight: 200;  
}
