body {
	background: url('Arnold 2.jpg')
	no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
	  color:white;
}



.custom-font {
	color: white;
}

.custom-font-1 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 64px;
    font-weight: 100;
    line-height: 110%;
}

.box h1, .box p {color:white;}

.custom-font-2 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 28px;
    font-weight: 200;
}

.my-wrapper h1,
.my-wrapper h2,
.my-wrapper h3,
.my-wrapper p {color:white;}


.box h2, .box p {color:white;}

.custom-font-3 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 20px;
    font-weight: 100;
}
